@model Stock;
@{
    ViewData["Title"] = "Home Page";
}

<div id="divMarketHours" class="text-body">
    <h4>Market Hours</h4>
</div>
<div class="container-fluid">
    <div style="width:49.9%;height:inherit;margin:0px auto;float:left;overflow:hidden;">

        <b>Movers Up</b>
        <br /><br />
        @foreach (var items in Model.moversUp)
        {
            //@Html.Raw(items._direction.ToString())
            @foreach (var item in items.items)
            {
                @Html.Raw("<b><a href=\"javascript:TMDobject.Search('" + item.symbol + "')\">" + item.symbol + "</a></b>" + "&nbsp");
                @Html.Raw(item.description + "&nbsp");

                @Html.Raw("<b>Price: </b>" + item.last.ToString("C2") + " &nbsp");
                @Html.Raw("<b>Change: </b>" + "<span style='color:green'>" + item.change.ToString("P2") + "</span>" + "&nbsp");
                @Html.Raw("<b>Volume: </b>" + item.totalVolume.ToString("N0") + "&nbsp<br>");
                @Html.Raw("<b><a href=\"javascript:TMDobject.ShowHistory('" + item.symbol + "')\">History</a></b>" + "&nbsp");
                <hr />
            }
        }
    </div>
    @*<br /><br /><br /><br />*@
<div style="width:49.9%;height:inherit;margin:0px auto;float:right;overflow:hidden;">
    <b>Movers Down</b>
    <br /><br />
    @foreach (var items in Model.moversDown)
    {
        //@Html.Raw(items._direction.ToString())
        @foreach (var item in items.items)
        {
            @Html.Raw("<b><a href=\"javascript:TMDobject.Search('" + item.symbol + "')\">" + item.symbol + "</a></b>" + "&nbsp");
            @Html.Raw(item.description + "&nbsp");

            @Html.Raw("<b>Price: </b>" + item.last.ToString("C2") + " &nbsp");
            @Html.Raw("<b>Change: </b>" + "<span style='color:red'>" + item.change.ToString("P2") + "</span>" + "&nbsp");
            @Html.Raw("<b>Volume: </b>" + item.totalVolume.ToString("N0") + "&nbsp<br>");
            @Html.Raw("<b><a href=\"javascript:TMDobject.ShowHistory('" + item.symbol + "')\">History</a></b>" + "&nbsp");
            <hr />
        }
    }
</div>

</div>
<script type="text/javascript">
    window.onload = function () {
        TMDobject.GetMarketHours();
    };
</script>

